*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Navbar */
.navbarTxt {
    padding: 12px;
    margin: 10px;
}
#Navbar input{
    width: 38%;
    font-size: 16px;
    position: relative;
    right: 10px;
}
/* addNote section */
#addNote h1{
    font-size: 1.9rem;
}
/* Notes Collection section */
#notesCollection{
    grid-template-columns: repeat(1,100%);
}
.note-card {
    margin: 2px auto;
}
#addNote {
    width: 80%;
}
.note-card {
    width: 95%;
}
.e-70 {
    width: 80%;
}
.hr-70{
    width: 80%;
}
